body{
    background-color: skyblue;
}

header{
    background-color: rgb(1, 1, 167);
    color: silver;
    padding: 20px;
}

.autoUsuario{
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    margin-top: 10px;
}